<h2>Vysledek zpracovani</h2>

<p>Zadany text ma:</p>

<ul>
  <li><%= params[:text].length %> znaku
  <li><%= params[:text].length / 1800.0 %> normostran
  <li><%= params[:text].split(' ').length %> slov
</ul>
